.customer_table{
    border-spacing: 0px;
    border-spacing: 0px;
}
.customer_table_element{
    height: 120px;
    text-align: center;
}
.seedetails{
    background-color: inherit;
    font-family: 'Mbo';
    font-size: 16px;
    color: #5541D7;
    margin-top: 10px;
    border: none;
}
.customer_filters{
    background-color: #E2E2EA;
    border: none;
}