*{
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Mb';
  src: url('./assets/fonts/Mulish-Black.ttf');
}

@font-face {
  font-family: 'Mbo';
  src: url('./assets/fonts/Mulish-Bold.ttf');
}

@font-face {
  font-family: 'Mexb';
  src: url('./assets/fonts/Mulish-ExtraBold.ttf');
}

@font-face {
  font-family: 'Mexl';
  src: url('./assets/fonts/Mulish-ExtraLight.ttf');
}

@font-face {
  font-family: 'Ml';
  src: url('./assets/fonts/Mulish-Light.ttf');
}

@font-face {
  font-family: 'Mr';
  src: url('./assets/fonts/Mulish-Regular.ttf');
}

.content{
  margin-left:60px;
  background-color: #E2E2EA;
  border:2px solid #E2E2EA;
  overflow: hidden;
}